@font-face {
  font-family: 'gogh';
  src: url('Font/Gogh-ExtraBold.otf');
  font-weight: 900;
} 

@font-face {
  font-family: 'madera'; 
  src: url('Font/Madera Regular.ttf');
  font-weight:normal; 
}

/*
.App{
  overflow-x: hidden !important;
}

.GSP-Logo {
  background-image: url('Images/gspt_logo.png');
  background-size: 510px;
  background-repeat: no-repeat;
  padding: 55px 115px;
  margin: 55px 105px;
  position:absolute;
}


.Navigation-Bar-Items {
  list-style-type: none;
  display: inline-flex;
  margin-left: 402px;
  margin-top: 58px;
  letter-spacing: 1px;
  white-space: nowrap;
}

.Navigation-Bar-Items > li {
  font-weight: 500;
  font-size: 13px;
  margin: 16px;
  color: #0C0C0C;
}

.Background-Image {
  background-image: url('Images/gsp_rig.png');
  background-size:1000px;
  padding: 450px 500px;
  background-repeat: no-repeat;
  margin-left: 833px;
  top : 0px;
  position:absolute;
  z-index:-1;
}


.Login-Button {
  margin-top: 80px;
  margin-left: 540px;
  font-size: 13px;
  position: absolute;
  color:white;
  border: none;
  background-color:transparent;
}

.Register-Button {
  background-color: #95c5eb;
  border-radius:50px;
  position: absolute;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 13px;
  color:white;
  border: none;
  margin-top: 72px;
  margin-left: 640px
}

.Welcome-Text{
  margin-top : 90px;
  margin-left: 105px;
  display:flex;
  flex-direction:column;
}

.WTHeader1 {
  color: #E53212;
  font-size: 85px;
  font-weight: 900;
  width: 600px;
  letter-spacing: 1px;
  font-family: gogh;
  line-height: 1.1;
  margin-bottom: 0px;
}

.WTHeader2{
  font-size: 23px;
  font-weight:300;
  width: 600px;
  letter-spacing: 1px;
  line-height:1.8;
  font-family: madera;
  margin-top: 12px;
  margin-bottom: 45px;
}

.WTButton{
  background-color: #0033FF;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  border-radius: 50px;
  border: none;
  padding-top: 12px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-family:madera;
  width: 235px;
  font-weight: bolder;
  text-align: center;
}

.Background-Design {
  background-image: url('Images/Background-Design.png');
  background-size:1250px 1700px;
  background-repeat: no-repeat;
  padding-top: 1600px;
  padding-left: 1200px;
  z-index: -2;
  position: absolute;
  margin-top: -1400px;
  margin-left: 0px;
}

.Acreditation-Block {
  display: flex;
  margin-top: 0px;
  margin-left: 343px;
}

.Certificate1{
  background-image: url('Images/iadc.png');
  background-repeat: no-repeat;
  background-size: 290px;
  position: absolute;
  padding: 52px 150px;
  margin-top: -7px;
}

.Certificate2{
  background-image: url('Images/iwcf.png');
  background-repeat: no-repeat;
  background-size: 355px;
  position: absolute;
  padding: 50px 135px;
  margin-left: 295px;
  margin-top: -7px;
}

.Certificate3{
  background-image: url('Images/veritas.png');
  background-repeat: no-repeat;
  background-size: 360px;
  position: absolute;
  padding: 50px 140px;
  margin-left: 590px;
  margin-top: -8px;
}

.Certificate4{
  background-image: url('Images/sparrows.png');
  background-repeat: no-repeat;
  background-size: 210px;
  position: absolute;
  margin-top: -38px;
  margin-left: 963px;
  padding: 70px 115px;
}

.Acreditation-Text{
  margin-top: 445px;
  font-weight: 900;
  margin-left: 770px;
  margin-bottom: 38px; 
  letter-spacing: 1px;
  color: #606060;
  font-family:gogh;
}

.Drilling-Simulator-Block{
  margin-top: 190px;
  margin-left: 405px;
  line-height: 2px;
  display:flex;
  flex-direction:column;
}

.DSTHeader1{
  font-family:madera;
  color: #958A8A; 
  font-weight:bold;
  margin-left: 440px;
}

.DSTHeader2{
  font-size: 65px;
}

.DSTHeader3{
  letter-spacing: 1px;
  margin-left: 195px;
  font-family:madera;
  font-size: 22px;
  color: #958A8A;
  line-height: 2;
  width:700px;
  font-weight: 100px;
  text-align:center;
  margin-left: 175px;
}

.DSTButton{
  background-color: #0033FF;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  border-radius: 50px;
  border: none;
  font-weight:bold;
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 44px;
  padding-right: 44px;
  font-family:madera;
  font-weight: bolder;
  text-align: center;
  width: 215px;
  margin-left: 420px;
}

.Rig-Image{
  background-image:url('Images/Frame.png');
  position: absolute;
  box-sizing: border-box;
  background-size: 650px;
  padding: 400px;
  background-repeat: no-repeat;
  margin-left: 580px;
  margin-top: 60px;
  width: 50%;
}

.Curved-Line{
  background-image:url('Images/Curved-Line.png'); 
  background-size: 1860px;
  padding: 300px 916px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
  margin-top: 180px;
}

.Information-Background{
  background-image: url('Images/Information-Background.png');
  background-repeat: no-repeat;
  background-size:1850px 3000px;
  padding: 985px 916px;
  z-index: -2;
  margin-top: 355px;
  margin-left: 0px;
  position: absolute;
  box-sizing: border-box;
  width: 1833px;
  border-top-left-radius: 2500px 120px;
  border-top-right-radius: 1300px 220px;
  overflow-x: hidden;
  z-index:-2;
}

.Platform-Image {
  background-image: url('Images/platform_drawing.png'); 
  background-repeat: no-repeat;
  background-size: 800px;
  padding: 400px;
  position: absolute;
  margin-top:935px;
  margin-left: 140px;
}

.Training-Image{
  background-image: url('Images/training_screenshot.png');
  background-repeat: no-repeat;
  background-size: 850px;
  padding: 420px;
  position: absolute; 
  margin-top: 1640px;
  margin-left: 880px;
}

.Career-Oil-Gas-Block{
  margin-top : 990px;
  margin-left: 1113px;
  display:flex;
  flex-direction:column; 
}

.CIGHeader1{
  margin-bottom: -40px;
  font-size: 20px;
  font:gogh; 
  color: #958A8A;
}

.CIGHeader2{
  width: 700px;
  font-size: 66px;
  font-family: gogh;
  line-height: 70px;
  margin-bottom: -12px;
}

.CIGHeader3{
  font: gogh;
  color: #958A8A;
  font-size: 24px;
  font-weight: normal;
  width: 600px;
  line-height: 42px;
  letter-spacing: 1px;
}

.CIGHeader3-Blue{
  color:#0033FF;
}

.CIGButton{
  background-color: #0033FF;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  border-radius: 50px;
  border: none;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-family:madera;
  width: 220px;
  font-weight: bolder;
  text-align: center;
}

.Online-Training-Block{
  margin-top : 357px;
  margin-left: 180px;
  display:flex;
  flex-direction:column;  
}

.OTHeader1 {
  font-size: 20px;
  font:gogh; 
  color: #958A8A;
  margin-bottom: -35px;
}

.OTHeader2{
  width: 700px;
  font-size: 64px;
  font-family: gogh;
  line-height: 70px;
  margin-bottom: -5px;
}

.OTHeader3{
  font: gogh;
  color: #958A8A;
  font-size: 24px;
  font-weight: normal;
  width: 570px;
  letter-spacing: 1px;
  line-height: 42px;
  margin-bottom: 40px;
}

.OTButton{
  background-color: #0033FF;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  border-radius: 50px;
  border: none;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-family:madera;
  width: 220px;
  font-weight: bolder;
  text-align: center;
}

.Globe-Image{
  background-image:url('Images/globe.png');
  background-repeat: no-repeat;
  background-size: 1160px;
  padding: 660px 583px;
  margin-top: 80px;
  margin-left: 667px;
  position: absolute;
  z-index:1;
}

.Extra-Background{
  background-image:url('Images/Extra-Background.png');
  background-repeat: no-repeat;
  background-size:1900px 1950px;
  padding: 1000px 916px;
  margin-top: 242px;
  margin-left: 0px;
  position: absolute;
  box-sizing: border-box;
  width: 1800px;
  z-index:-1;
}

.Career-Block{
  margin-left: 105px;
  margin-top:450px;
  display:flex;
  flex-direction:column;  
}

.CHeader1{
  color: white;
  width: 620px;
  font-size: 64px;
  font-family: gogh;
  line-height: 70px;
  margin-bottom: -5px;
}


.CHeader2{
  color: #958A8A;
  font: gogh;
  font-size: 24px;
  font-weight: normal;
  width: 550px;
  letter-spacing: 1px;
  line-height: 42px;
  margin-bottom: 40px;
}

.CHeader1-Red{
  color: #fc4848;
}

.CButton{
  background-color: #fc4848;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  border-radius: 50px;
  border: none;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-family:madera;
  width: 220px;
  font-weight: bolder;
  text-align: center;
}

.CommentBlock1{
  margin-left: 815px;
  margin-top: -537px;
  padding-top: 16px;
  padding-bottom: 31px;
  padding-left: 35px;
  border-radius: 6px;
  width: 335px;
  position:relative;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  z-index:2;
}

.CommentBlock2{
  margin-left: 1240px;
  margin-top: -282px; 
  padding-top: 16px;
  padding-bottom: 31px;
  padding-left: 35px;
  border-radius: 6px;
  width: 335px;
  position:relative;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  z-index:2;
}

.CommentBlock3{
  padding-top: 16px;
  padding-bottom: 31px;
  padding-left: 35px;
  border-radius: 6px;
  width: 335px;
  position:relative;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  z-index:2;
  margin-top: 50px;
  margin-left: 910px;
}

.CommentBlock4{
  padding-top: 16px;
  padding-bottom: 31px;
  padding-left: 35px;
  border-radius: 6px;
  width: 335px;
  position:relative;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  z-index:2;
  margin-top:-280px;
  margin-left: 1335px;
}

.CommentBlock1 > p , .CommentBlock2 > p, .CommentBlock3 > p, .CommentBlock4 > p{
  color: white;
  width: 620px;
  font-size: 23px;
  font-family: gogh;
  margin-bottom: -5px;
  width: 310px;
  margin-bottom: 30px;
} 

.ProfilePicture1{
  background-image: url('Images/ProfilePicture1.png');
  background-size: 50px;
  padding: 25px;
  background-repeat: no-repeat;
}

.ProfilePicture2{
  background-image: url('Images/ProfilePicture2.png');
  background-size: 50px;
  padding: 40px;
  background-repeat: no-repeat; 
}

.ProfilePicture3{
  background-image: url('Images/ProfilePicture3.png');
  background-size: 50px;
  padding: 40px;
  background-repeat: no-repeat; 
}

.ProfilePicture4{
  background-image: url('Images/ProfilePicture4.png');
  background-size: 50px;
  padding: 40px; 
  background-repeat: no-repeat;
}

.CommentName{
  color: white;
  margin-top: -40px;
  margin-left: 65px;
  font-size: 12px;
}

.CommentJob{
  color: white;
  margin-top: -12px;
  margin-left: 65px;
  font-size: 10px;
  font-weight:normal;
}

.CommentBlock2 .CommentName , .CommentBlock3 .CommentName , .CommentBlock4 .CommentName {
  margin-top:-70px;
}

.CommentBlock2 .CommentJob , .CommentBlock3 .CommentJob , .CommentBlock4 .CommentJob{
  margin-top: -7px;
}

.Capture-Interest-Title{
  color:white;
  font-family:gogh;
  font-size:48px;
  margin-top: 460px;
  margin-left: 667px;
  letter-spacing: 1px;
}

.Audio-Block{
  display:flex;
  flex-direction:column; 
  margin-left: 100px;
}

.Audio-Image{ 
  background-image: url('Images/Volume Up.png');
  background-size: 50px;
  padding: 26px;
  background-repeat: no-repeat;
}

.Confidential-Block{
  display:flex;
  flex-direction:column;
  margin-left: 110px;
}

.Confidential-Image{
  background-image: url('Images/Unlock.png');
  background-size: 50px;
  padding: 26px;
  background-repeat: no-repeat;
}

.Certification-Block{
  display:flex;
  flex-direction:column;
  margin-left: 110px;
}

.Certification-Image{
  background-image: url('Images/Download.png');
  background-size: 50px;
  padding: 26px;
  background-repeat: no-repeat;
}

.Interactive-Training-Block{
  display:flex;
  flex-direction:column; 
  margin-left: 85px;
}

.Interactive-Training-Image{
  background-image: url('Images/Play.png');
  background-size: 50px;
  padding: 26px;
  background-repeat: no-repeat;
}

.SpecialBlock{
  display: inline-flex;
  margin-top: 12px;
}

.FeaturesHeader1{
  color: white;
  font-size: 30px;
  margin-top: 18px;
}

.FeaturesHeader2{
  color: #958A8A;
  width: 310px;
  font-size: 20px;
  font-weight:normal;
  letter-spacing: 1px;
  margin-top: -3px;
  line-height: 35px;
}

.Info-Banner{
  background-image: url('Images/rainbow_rectangle.png');
  background-size: 1600px; 
  padding: 110px;
  background-repeat: no-repeat;
  margin-top: 90px;
  margin-left:105px;
}

.BannerHeader{
  color:white;
  font-family:gogh;
  font-size:48px;
  width: 800px;
  margin-top: -50px;
  text-align: center;
  line-height: 50px;
  margin-left: 305px;
}

.BannerButton{
  margin-left: 580px;
  margin-top:-10px;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  border-radius: 50px;
  border: none;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-family:madera;
  width: 220px;
  font-weight: bolder;
  text-align: center;
  border: 1px solid white;
}

.GSP-Training-Logo{
  background-image: url('Images/gspt_logo.png');
  background-size: 230px;
  background-repeat: no-repeat;
  padding: 30px 115px;
  position:absolute;
  margin-top: 70px;
  margin-left:255px;
}

.Trademark-Text{
  margin-top: 130px;
  margin-left: 255px;
  font-size: 14px;
  color:#958A8A;
}

.Bottom-Bar-Items1{
  margin-left: 605px;
  margin-top: -135px;
  letter-spacing: 1px;
}

.Bottom-Navigation-Bar-Items1 > li {
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  margin: 65px;
  margin-left: 60px;
  color: #0C0C0C;
  list-style-type: none;
  font-size: 19px;
  font-weight: bold;
  font-family: gogh;
  letter-spacing: 1px;
}

.Bottom-Bar-Items2{
  margin-left: 605px;
  margin-top: -105px;
  letter-spacing: 1px;
}

.Bottom-Navigation-Bar-Items2 > li , .Bottom-Navigation-Bar-Items2 > div{
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  margin-left: 60px;
  color: #0C0C0C;
  list-style-type: none;
  font-size: 19px;
  font-weight: bold;
  font-family: gogh;
  letter-spacing: 1px;
  padding-top: 60px;
}

.StiriT{
  padding-left: 40px;
}

.ContactT{
  padding-left: 94px;
  padding-right: 30px;
}

.Logo-Block {
  margin-left: 1362px;
  position: absolute;
  margin-top: -43px;
}

.Facebook-Logo {
  background-image: url('Images/Facebook_Icon.png'); 
  background-size: 25px;
  padding: 23px;
  position:absolute;
  background-repeat: no-repeat;
}

.Twitter-Logo {
  background-image: url('Images/Twitter_Icon.png');
  background-size: 25px; 
  padding: 23px;
  margin-left: 40px;
  position: absolute;
  background-repeat: no-repeat;
}

.Instagram-Logo {
  background-image: url('Images/Instagram_Icon.png'); 
  background-size: 25px;
  padding: 23px;
  position: absolute;
  margin-left: 80px;
  background-repeat: no-repeat;
}

.Youtube-Logo{
  background-image: url('Images/Youtube_Icon.png');
  background-size: 25px;
  padding: 23px;
  position: absolute;
  background-repeat: no-repeat;
  margin-left: 122px;
  margin-top: 3px;
}

.Footer{
}

.Footer-Items{
  font-size: 13px;
  display: inline-flex;
  justify-content:center;
  color: #0C0C0C;
  list-style-type: none;
  font-size: 19px;
  font-family: gogh;
}

.Footer-Items > li{
  
}



-----------------------------------------------------
-----------------------------------------------------
-----------------------------------------------------
-----------------------------------------------------
-----------------------------------------------------
-----------------------------------------------------
-----------------------------------------------------
-----------------------------------------------------
-----------------------------------------------------

@media only screen and (min-width:768px) and (max-width:991px) {

  .nav {
    display: flex;
    flex-wrap: wrap;

  }


  .GSP-Logo {
    background-image: url('Images/gspt_logo.png');
    background-repeat: no-repeat;
    background-size: 11%;
    flex:auto;
    position: relative;
    padding: 14px;
    margin-top: 22px;
    margin-left: 42px;
  }

  .Navigation-Bar-Items { 
    display: inline-flex;
    white-space: nowrap;
    list-style-type: none;
    margin-top: 0em;
    letter-spacing: 0;
    white-space: nowrap;
    display: 30%;
  }
  
  .Navigation-Bar-Items > li {
    width: 20%;
    font-weight: 500px; 
    font-size: 0.47em;
    padding-right: -10em;
    color: #0C0C0C;
  }

  .Background-Image {
    background-image: url('Images/gsp_rig.png');
    background-repeat: no-repeat;
    background-position:right center;
    background-size: 40%;
    padding: 200px;
    margin-top: -42em;
  }
  
  .Login-Button {
    margin-top: 3.6em;
    margin-left: 30em;
    font-size: 0.47em;
    position: absolute;
    color:white;
    border: none;
    background-color:transparent;
  }

  .Register-Button {
    background-color: #95c5eb;
    border-radius:50px;
    position: absolute;
    padding-top: 0.4em;
    padding-bottom: 3px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 0.47em;
    color:white;
    border: none;
    margin-top: -3.8em;
    margin-left: 90em;
  }

  .Welcome-Text{
    margin-top: 1.2em;
    margin-left: 2.4em;
    display:flex;
    flex-direction:column;
  }
  
  .WTHeader1 {
    color: #E53212;
    font-size: 2.3em;
    font-weight: bolder;
    width: 8em;
    letter-spacing: 1px;
    font-family: gogh;
    line-height: 1.1em;
  }
  
  .WTHeader2{
    font-size: 0.53em;
    font-weight:300;
    width: 29em;
    letter-spacing: 1px;
    line-height:1.8;
    font-family: madera;
    margin-top: 0.9em;
    margin-bottom: 2.7em;
  }
  
  .WTButton{
    background-color: #0033FF;
    font-size: 0.53em;
    letter-spacing: 1px;
    color: white;
    border-radius: 50px;
    border: none;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 1px;
    padding-right: 1px;
    width: 140px;
    font-family:madera;
    font-weight: bolder;
    text-align: center;
  }
  
  .Background-Design {
    background-image: url('Images/Background-Design.png');
    background-size: 40em 24em;
    background-repeat: no-repeat;
    padding-top: 25em;
    z-index: -2;
    position: absolute;
    margin-top: -17.5em;
    padding-left: 0em;
    padding-right: 40em;
  }

  .Acreditation-Block {
    display: inline;
    white-space: nowrap;
    margin-left: 30px;

  }

  .Acreditation-Text{
    margin-top: 18.6em;
    font-size: 0.53em;
    font-weight: 900;
    margin-left: 37.69em; 
    letter-spacing: 1px;
    color: #606060;
    font-family:gogh;
    white-space: nowrap;
  }
  
  .Certificate1{
    background-image: url('Images/iadc.png');
    background-repeat: no-repeat;
    background-size: 8em;
    position: absolute;
    padding: 52px 200px;
    margin-top: 0.8em;
    margin-left: 8em;
  }
  
  .Certificate2{
    background-image: url('Images/iwcf.png');
    background-repeat: no-repeat;
    background-size: 11em;
    position: absolute;
    padding: 10em;
    margin-left:  16em;
    margin-top: 0.6em;
  }
  
  .Certificate3{
    background-image: url('Images/veritas.png');
    background-repeat: no-repeat;
    background-size: 10em;
    position: absolute;
    padding: 40px 70px;
    margin-left: 25em;
    margin-top: 0.9em;
  }
  
  .Certificate4{
    background-image: url('Images/sparrows.png');
    background-repeat: no-repeat;
    background-size: 6em;
    position: absolute;
    margin-top: 0em;
    margin-left: 35em;
    padding: 40px 50px;
  }

  .Drilling-Simulator-Block{
    margin-top: 6em;
    margin-left: 0px;
    line-height: 0px;
    display:flex;
    flex-direction:column;
  }
  
  .DSTHeader1{
    font-family:madera;
    color: #958A8A; 
    font-weight:bold;
    margin-left: 34.43em;
    font-size: 0.65em;
    white-space:nowrap;
  }
  
  .DSTHeader2{
    font-size: 1.7em;
    margin-left: 7.1em;
    white-space: nowrap;
  }
  
  .DSTHeader3{
    letter-spacing: 1px;
    font-family:madera;
    font-size: 0.65em;
    color: #958A8A;
    line-height: 2;
    width:700px;
    font-weight: 100px;
    margin-left: 22.2em;
    width: 345px;
    text-align: center;
  }
  
  .DSTButton{
    background-color: #0033FF;
    font-size: 0.53em;
    letter-spacing: 1px;
    color: white;
    border-radius: 50px;
    border: none;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 1px;
    padding-right: 1px;
    width: 140px;
    font-family:madera;
    font-weight: bolder;
    text-align: center;
    margin-left: 39.4em;
  }

  .Rig-Image{
    background-image:url('Images/Frame.png');
    position: absolute;
    box-sizing: border-box;
    background-size: 18em;
    padding: 160px;
    background-repeat: no-repeat;
    margin-left: 16.1em;
    margin-top: 1.5em;
  }
  
  .Curved-Line{
    background-image:url('Images/Curved-Line.png'); 
    background-size: 48.5em;
    padding: 12em 23.7em;
    position: absolute;
    box-sizing: border-box;
    background-repeat: no-repeat;
    z-index: -1;
    margin-top: 6em;
  }
  
  .Information-Background{
    background-image: url('Images/Information-Background.png');
    background-repeat: no-repeat;
    background-size:48em 53em;
    padding: 985px 384px;
    z-index: -2;
    margin-top: 10.8em;
    margin-left: 0em;
    position: absolute;
    box-sizing: border-box;
    z-index:-2;
    width: 0em;
  }
  
  .Platform-Image {
    background-image: url('Images/platform_drawing.png'); 
    background-repeat: no-repeat;
    background-size: 21.5em;
    padding: 180px;
    position: absolute;
    margin-top:24.5em;
    margin-left: 3.4em;
  }
  
  .Training-Image{
    background-image: url('Images/training_screenshot.png');
    background-repeat: no-repeat;
    background-size: 23.5em;
    padding: 185px;
    position: absolute; 
    margin-top: 42.5em;
    margin-left: 22.8em;
  }
  
  .Career-Oil-Gas-Block{
    margin-top : 26em;
    margin-left: 28.5em;
    display:flex;
    flex-direction:column;
  }
  
  .CIGHeader1{
    margin-bottom: -1.2em;
    font-size: 0.65em;
    font:gogh; 
    color: #958A8A;
    white-space:nowrap;
  }
  
  .CIGHeader2{
    width: 300px;
    font-size: 1.7em;
    font-family: gogh;
    line-height: 30px;
    margin-bottom: -12px;
  }
  
  .CIGHeader3{
    font: gogh;
    color: #958A8A;
    font-size: 0.65em;
    font-weight: normal;
    width: 300px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 1.4em;
    margin-bottom: 18px;
  }
  
  .CIGHeader3-Blue{
    color:#0033FF;
  }
  
  .CIGButton{
    background-color: #0033FF;
    font-size: 0.65em;
    letter-spacing: 1px;
    color: white;
    border-radius: 50px;
    border: none;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 1px;
    padding-right: 1px;
    font-family:madera;
    width: 140px;
    font-weight: bolder;
    text-align: center;
  }
  
  .Online-Training-Block{
    margin-top : 6.2em;
    margin-left: 4em;
    display:flex;
    flex-direction:column;  
  }
  
  .OTHeader1 {
    margin-bottom: -1.2em;
    font-size: 0.65em;
    font:gogh; 
    color: #958A8A;
    white-space:nowrap;
  }
  
  .OTHeader2{
    width: 300px;
    font-size: 1.7em;
    font-family: gogh;
    line-height: 30px;
    margin-bottom: -12px;
  }
  
  .OTHeader3{
    font: gogh;
    color: #958A8A;
    font-size: 0.65em;
    font-weight: normal;
    width: 280px;
    line-height: 20px;
    letter-spacing: 1px;
    margin-top: 1.4em;
    margin-bottom: 18px;
  }
  
  .OTButton{
    background-color: #0033FF;
    font-size: 0.65em;
    letter-spacing: 1px;
    color: white;
    border-radius: 50px;
    border: none;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 1px;
    padding-right: 1px;
    font-family:madera;
    width: 140px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 200px;
  }

  .Globe-Image{
    background-image:url('Images/globe.png');
    background-repeat: no-repeat;
    background-size: 30.5em;
    padding: 23em 15.3em;
    margin-top: -8.9em;
    margin-left: 17.4em;
    position: absolute;
    z-index:1;
  }
  
  .Extra-Background{
    background-image:url('Images/Extra-Background.png');
    background-repeat: no-repeat;
    background-size:48em 51.2em;
    padding: 400px 384px;
    margin-top: -4.8em;
    margin-left: 0em;
    position: absolute;
    z-index:-1;
    width: 0em;
    
  }

  .Career-Block{
    margin-left: 2.6em;
    margin-top:2em;
    display:flex;
    flex-direction:column;  
  }
  
  .CHeader1{
    color: white;
    width: 200px;
    font-size: 1.7em;
    font-family: gogh;
    line-height: 30px;
    margin-bottom: -12px;
  }
  
  
  .CHeader2{
    font: gogh;
    color: #958A8A;
    font-size: 0.65em;
    font-weight: normal;
    width: 210px;
    line-height: 20px;
    margin-top: 1.4em;
    margin-bottom: 18px;
  }
  
  .CHeader1-Red{
    color: #fc4848;
  }
  
  .CButton{
    background-color: #fc4848;
    font-size: 0.65em;
    letter-spacing: 1px;
    color: white;
    border-radius: 50px;
    border: none;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 1px;
    padding-right: 1px;
    font-family:madera;
    width: 140px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 200px;
  }

  .CommentBlock1{
    margin-left: 21em;
    margin-top: -30em;
    padding-top: 0.6em;
    padding-bottom: 0.4em;
    padding-left: 1.5em;
    border-radius: 6px;
    width: 145px;
    position:relative;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    z-index:2;
  }
  
  .CommentBlock2{
    margin-left: 33.3em;
    margin-top: -8.65em; 
    padding-top: 0.6em;
    padding-bottom: 0.7em;
    padding-left: 1.5em;
    border-radius: 6px;
    width: 145px;
    position:relative;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    z-index:2;
  }
  
  .CommentBlock3{
    padding-top: 0.6em;
    padding-bottom: 0.7em;
    padding-left: 1.5em;
    border-radius: 6px;
    width: 145px;
    position:relative;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    z-index:2;
    margin-top: 1em;
    margin-left: 23.5em;
  }
  
  .CommentBlock4{
    padding-top: 0.6em;
    padding-bottom: 0.7em;
    padding-left: 1em;
    border-radius: 6px;
    width: 145px;
    position:relative;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    z-index:2;
    margin-left: 35.6em;
    margin-top: -8.8em;
  }
  
  .CommentBlock1 > p , .CommentBlock2 > p, .CommentBlock3 > p, .CommentBlock4 > p{
    color: white;
    font-size: 0.65em;
    font-family: gogh;
    margin-bottom: -5px;
    width: 140px;
    margin-bottom: 30px;
    letter-spacing: 1;
  } 
  
  .ProfilePicture1{
    background-image: url('Images/ProfilePicture1.png');
    background-size: 2em;
    padding: 20px;
    margin-top: -1.0em;
    background-repeat: no-repeat;
  }
  
  .ProfilePicture2{
    background-image: url('Images/ProfilePicture2.png');
    background-size: 2em;
    padding: 20px;
    margin-top: -1.0em;
    background-repeat: no-repeat; 
  }
  
  .ProfilePicture3{
    background-image: url('Images/ProfilePicture3.png');
    background-size: 2em;
    padding: 20px;
    margin-top: -1.0em;
    background-repeat: no-repeat; 
  }
  
  .ProfilePicture4{
    background-image: url('Images/ProfilePicture4.png');
    background-size: 2em;
    padding: 20px;
    margin-top: -1.0em;
    background-repeat: no-repeat;
  }
  
  .CommentName{
    color: white;
    margin-top: -3.8em;
    margin-left: 4.45em;
    font-size: 0.55em;
  }

  .CommentBlock2 .CommentName , .CommentBlock3 .CommentName , .CommentBlock4 .CommentName {
    padding-top: 3.9em;
  }
  
  .CommentJob{
    color: white;
    margin-top: 10em;
    margin-left: 4.9em;
    font-size: 0.5em;
    font-weight:normal;
  }

  .CommentBlock1 .CommentJob{
    margin-top: -10px;
  }

  .Capture-Interest-Title{
    color:white;
    font-family:gogh;
    font-size:1.2em;
    margin-top: 9em;
    margin-left: 14.27em;
    letter-spacing: 1px;
    white-space:nowrap;
  }
  
  .Audio-Block{
    display:flex;
    flex-direction:column; 
    margin-left: 3.5em;
    margin-top: -0.4em
  }
  
  .Audio-Image{ 
    background-image: url('Images/Volume Up.png');
    background-size: 1.8em;
    padding: 29px;
    padding-bottom: 0em;
    background-repeat: no-repeat;
  }
  
  .Confidential-Block{
    display:flex;
    flex-direction:column;
    margin-left: -0.3em;
    margin-top: -0.4em;
  }
  
  .Confidential-Image{
    background-image: url('Images/Unlock.png');
    background-size: 2em;
    padding: 29px;
    padding-bottom: 0em;
    background-repeat: no-repeat;
  }
  
  .Certification-Block{
    display:flex;
    flex-direction:column;
    margin-left: -0.2em;
    margin-top: -0.4em; 
  }
  
  .Certification-Image{
    background-image: url('Images/Download.png');
    background-size: 2em;
    padding: 29px;
    padding-bottom: 0em;
    background-repeat: no-repeat;
  }
  
  .Interactive-Training-Block{
    display:flex;
    flex-direction:column; 
    margin-left: 0em;
    margin-top: -0.4em;
  }
  
  .Interactive-Training-Image{
    background-image: url('Images/Play.png');
    background-size: 2em;
    padding: 29px;
    padding-bottom: 0em;
    background-repeat: no-repeat;
  }
  
  .SpecialBlock{
    display: inline-flex;
    margin-top: 12px;
  }
  
  .FeaturesHeader1{
    color: white;
    font-size: 0.7em;
    margin-top: 0.8em;
    width: 170px;
  }
  
  .FeaturesHeader2{
    color: #958A8A;
    width: 180px;
    font-size: 0.55em;
    font-weight:normal;
    letter-spacing: 1px;
    margin-top: -3px;
    line-height: 18px;
  }
  
  .Info-Banner{
    background-image: url('Images/rainbow_rectangle.png');
    background-size: 40em 8em; 
    background-repeat: no-repeat;
    margin-top: 1.2em;
    margin-left: 4.1em;
    padding: 40px;
    width: 600px;
  }
  
  .BannerHeader{
    color:white;
    font-family:gogh;
    font-size: 1.2em;
    width: 300px;
    margin-top: -1.3em;
    text-align: center;
    line-height: 25px;
    margin-left: 6.51em;
  }
  
  .BannerButton{
    margin-left: 20.19em;
    margin-top: -1em;
    font-size: 0.65em;
    letter-spacing: 1px;
    color: white;
    border-radius: 50px;
    border: none;
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 1px;
    padding-right: 1px;
    font-family:madera;
    width: 140px;
    font-weight: bolder;
    text-align: center;
    border: 1px solid white;
  }

  .GSP-Training-Logo{
    background-image: url('Images/gspt_logo.png');
    background-size: 6.3em;
    background-repeat: no-repeat;
    padding: 30px 115px;
    position:absolute;
    margin-top: 3.5em;
    margin-left:7em;
  }
  
  .Trademark-Text{
    margin-top: 11.8em;
    margin-left: 15.4em;
    font-size: 0.45em;
    color:#958A8A;
    white-space:nowrap;
  }
  
  .Bottom-Bar-Items1{
    margin-left: 14em;
    margin-top: -3em;
    letter-spacing: 1px;
    white-space:nowrap;
  }
  
  .Bottom-Navigation-Bar-Items1 > li {
    display: inline-block;
    font-weight: 500;
    margin: -1.5em;
    margin-left: 60px;
    color: #0C0C0C;
    list-style-type: none;
    font-size: 0.65em;
    font-weight: bold;
    font-family: gogh;
    letter-spacing: 1px;
  }
  
  .Bottom-Bar-Items2{
    margin-left: 15.9em;
    margin-top: -3em;
    letter-spacing: 1px;
    white-space:nowrap;
  }
  
  .Bottom-Navigation-Bar-Items2 > li , .Bottom-Navigation-Bar-Items2 > div{
    display: inline-block;
    white-space: nowrap;
    font-weight: 500;
    margin-left: 30px;
    color: #0C0C0C;
    list-style-type: none;
    font-size: 0.65em;
    font-weight: bold;
    font-family: gogh;
    letter-spacing: 1px;
    padding-top: 60px;
  }
  
  .StiriT{
    padding-left: 0em;
  }
  
  .ContactT{
    padding-left: 2.99em;
    padding-right: 30px;
  }
  
  .Logo-Block {
    margin-left: 37.8em;
    position: absolute;
    margin-top: -2.2em;
  }
  
  .Facebook-Logo {
    background-image: url('Images/Facebook_Icon.png'); 
    background-size: 1.2em;
    padding: 12px;
    position:absolute;
    background-repeat: no-repeat;
  }
  
  .Twitter-Logo {
    background-image: url('Images/Twitter_Icon.png');
    background-size: 1.2em; 
    padding: 12px;
    margin-left: 1.8em;
    position: absolute;
    background-repeat: no-repeat;
  }
  
  .Instagram-Logo {
    background-image: url('Images/Instagram_Icon.png'); 
    background-size: 1.2em;
    padding: 12px;
    position: absolute;
    margin-left: 3.6em;
    background-repeat: no-repeat;
  }
  
  .Youtube-Logo{
    background-image: url('Images/Youtube_Icon.png');
    background-size: 1.2em;
    padding: 12px;
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 5.7em;
    margin-top: 0.25em;
  }


.Footer-Items{ 
  display: inline-flex;
    list-style-type: none;
    white-space: nowrap;
    margin-top: 4em;
    margin-left: 10em;
    letter-spacing: 0;
    margin-bottom: 0px;
}

.Footer-Items > li{
  font-weight: 500;
    font-size: 0.6em;
    margin: 0.5em;
    color:#958A8A;
}

.Horizontal-Bar {
  border-top: 1px solid #958A8A;;
  position: absolute;
  width: 47.9em;
  margin-top: 3.5em
}

/*
  * {
    border:1px solid red !important;
    }
    
    
}
  */
    
  @media only screen and (min-width: 768px) and (max-width: 991px) { 

    *{
      padding: 0px; 
      margin: 0px; 
    }

    .nav {
      display: flex;
    }
  
  
    .GSP-Logo {
      position: relative;
      background-image: url('Images/gspt_logo.png');
      background-repeat: no-repeat;
      background-position: left top;
      background-size:24%;
      flex: auto;
      padding: 48px;
      margin-top: 18px;
      margin-left: 2.9em;
    }

    .Navigation-Bar-Items {
      position:relative;
      display: flex;
      flex: auto;
      font-weight: normal;
      font-size: 0.8vw;
      list-style-type: none;
      width: 0px;
      margin-top: 26px;
      margin-left: -295px;
      white-space: nowrap;
      font-weight: 500;
      letter-spacing: 0.1px;
    }

    .Item {
      padding-right: 15px;
    }

    .Background-Image {
      position:relative; 
      background-image: url('Images/gsp_rig.png');
      background-repeat: no-repeat;
      flex: auto;
      background-position: right top;
      background-size: 55%;
      padding: 55px;
      padding-bottom: 444px;
      margin-top: -120px;
      margin-left: 0px;
      z-index: -1;
    }

    .Log-Reg-Block {
      position:relative;
      display: flex;
      flex: auto;
      background-position: center top;
      font-weight: normal;
      font-size: 0.8vw;
      list-style-type: none;
      width: 0px;
      margin-top: 26px;
      margin-left: -100px;
      white-space: nowrap;
      font-weight: 500;
      letter-spacing: 0.5px;
    }

    .Item-Login , .Item-Register{
      padding-right: 15px;
    }

    .Item-Login{
      padding-left: 33em;
      color:white;
    }
    
    .Item-Register{
      padding-left: 15px;
      color:white;
    }

    .Background-Design {
      position:relative; 
      background-image: url('Images/Background-Design.png');
      background-repeat: no-repeat;
      flex:auto;
      background-size:65%;
      padding: 140px;
      padding-bottom: 160px;
      margin-top: -600px;
      z-index: -2;
    }

    .Welcome-Text{
      display:flex;
      flex-direction: column;
      margin-top: 100px;
      margin-left: -5.5em;
    }

    .WTHeader1 {
      color: #E53212;
      display:flex;
      flex:auto;
      font-size: 4.5vw;
      font-weight: bolder;
      width: 45%;
      letter-spacing: 1px;
      font-family: gogh;
      line-height: 1.1em;
    }
    
    .WTHeader2{
      font-size: 1.2vw;
      font-weight:300;
      width: 45%;
      letter-spacing: 1px;
      line-height:1.8em;
      font-family: madera;
      margin-top: 0.9em;
      margin-bottom: 1.8em;
      text-align: left;
      flex:auto;
    }
    
    .WTButton{
      background-color: #0033FF;
      font-size: 1.1vw;
      letter-spacing: 1px;
      color: white;
      border-radius: 50px;
      border: none;
      padding-top: 4px;
      padding-bottom: 8px;
      padding-left: 1px;
      padding-right: 1px;
      width: 24%;
      font-family:madera;
      font-weight: bolder;
      text-align: center;
      flex:auto;
    }

    .Acreditation-Block {
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      margin-left: 10px;
      margin-top: 10px;
    }

    .Certification-Block{
      display: inline-flex;
      padding-bottom: 10px;
    }
  
    .Acreditation-Text{
      margin-top: 2em;
      font-size: 1.2vw;
      width: 40%;
      font-weight: 900;
      width:auto;
      text-align: center;
      letter-spacing: 1px;
      color: #606060;
      font-family:gogh;
      white-space: nowrap;
      padding-bottom: 20px;
    }
    
    .Certificate1{
      background-image: url('Images/iadc.png');
      background-repeat: no-repeat;
      background-size: 17vw;
      background-position: center;
      flex:auto;
      padding-right: 0px;
      padding-bottom: 60px;
      margin-top: 0.8em;
      margin-left: -28em;
    }
    
    .Certificate2{
      background-image: url('Images/iwcf.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 22vw;
      flex:auto; 
      padding-right: 0px;
      padding-bottom: 60px;
      margin-left:  -7em;
      margin-top:-3.7em;
      z-index: 2;
    }
    
    .Certificate3{
      background-image: url('Images/veritas.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 22vw;
      flex:auto;
      padding-bottom: 60px;
      margin-left: 12.8em;
      margin-top: -3.5em;
    }
    
    .Certificate4{
      background-image: url('Images/sparrows.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 13vw;
      flex:auto;
      margin-top: -4.3em;
      margin-left: 32.5em;
      padding-right: 0px;
      padding-bottom: 80px;
    }

    .Drilling-Simulator-Block{
      margin-top: 2em;
      margin-left: 0px;
      line-height: 0px;
      display:flex;
      flex-direction:column;
    }
    
    .DSTHeader1{
      font-family:madera;
      color: #958A8A; 
      font-weight:bold;
      flex:auto;
      font-size: 1.2vw;
      margin-bottom: 35px;
      width:auto;
      text-align:center;
    }
    
    .DSTHeader2{
      font-size: 3.6vw;
      flex:auto;
      white-space: nowrap;
      margin-bottom: 0px;
      text-align: center;
      width:auto;
      text-align:center;
    }
    
    .DSTHeader3{
      letter-spacing: 1px;
      font-family:madera;
      font-size: 1.2vw;
      color: #958A8A;
      line-height: 2;
      font-weight: 100px;
      width: 44% ;
      text-align: center;
      flex:auto;
      margin-top: -15px;
      margin-left: 22.6em;
      margin-bottom: 0px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    
    .DSTButton{
      background-color: #0033FF;
      font-size: 1.2vw;
      letter-spacing: 1px;
      color: white;
      border-radius: 50px;
      border: none;
      padding-top: 4px;
      padding-bottom: 8px;
      padding-left: 1px;
      padding-right: 1px;
      width: 18%;
      font-family:madera;
      font-weight: bolder;
      text-align: center;
      margin-left: 34.56em;
      margin-top: -25px;
    }

    .Rig-Image{
      background-image:url('Images/Frame.png');
      background-size: 300px;
      background-position: center;
      flex:auto;
      padding-bottom:485px;
      background-repeat: no-repeat;
      margin-top: -4em;
    }
    
    .Curved-Line{
      position:relative;
      background-image:url('Images/Curved-Line.png'); 
      background-size: 100%;
      background-position: center;
      flex:auto;
      padding: 16.5em 0em;
      background-repeat: no-repeat;
      z-index: -1;
      margin-top: -29em;
    }
    
    .Information-Background{
      position:relative;
      background-image: url('Images/Information-Background.png');
      background-repeat: no-repeat;
      background-size:100% 100%;
      background-position: center;
      flex:auto;
      padding: 20px 0px;
      margin-top: -21em;
      margin-left: 0em;
      z-index:-2;
      height: 950px;
      overflow-x: hidden;
    }
    
    .Platform-Image {
      background-image: url('Images/platform_drawing.png'); 
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 40vw;
      flex:auto;
      padding: 180px;
      position: relative;
      margin-top: 16.5em;
      margin-left: 4.5em;
    }
    
    .Training-Image{
      background-image: url('Images/training_screenshot.png');
      background-repeat: no-repeat;
      background-position: right top;
      background-size: 45vw;
      flex:auto;
      padding-right: 10px;
      padding-bottom: 500px;
      position: relative; 
      margin-top: 0em;
      margin-left: 0em;
    }
    
    .Career-Oil-Gas-Block{
      margin-top : -52.5em;
      margin-left: 28.5em;
      display:flex;
      padding-right: 0px;
      flex-direction: column;
    }
    
    .CIGHeader1{
      margin-bottom: 8px;
      font-size: 1.2vw;
      width: 80%;
      flex:auto;
      font:gogh; 
      color: #958A8A;
      white-space: nowrap;
      margin-left: -17.4em;
      text-align: right;
    }
    
    .CIGHeader2{
      font-size: 3.6vw;
      font-family: gogh;
      margin-left: 0em;
      flex:auto; 
      width: 80%;
      margin-bottom: -8px;
      white-space: nowrap;
      text-align: right;
      margin-left: -1.5em
    }

    .CIGHeader2-2{
      font-size: 3.6vw;
      font-family: gogh;
      flex:auto; 
      width: 83.9%;
      margin-bottom: -8px;
      white-space: nowrap;
      text-align: right;
      margin-left: -0.02em
    }

    .CIGHeader2-3{
      font-size: 3.6vw;
      font-family: gogh;
      flex:auto; 
      width: 80%;
      margin-bottom: -8px;
      white-space: nowrap;
      text-align: right;
      margin-left: -4.71em;
    }
    
    .CIGHeader3{
      font: gogh;
      color: #958A8A;
      font-size: 1.2vw;
      font-weight: normal;
      width: 72%;
      flex:auto;
      line-height: 20px;
      letter-spacing: 1px;
      margin-top: 1.4em;
      margin-bottom: 0px;
      text-align:right;
      margin-left: -0.7em
    }

    .CIGHeader3-2{
      font: gogh;
      color: #958A8A;
      font-size: 1.2vw;
      font-weight: normal;
      width: 72%;
      flex:auto;
      line-height: 20px;
      letter-spacing: 1px;
      margin-bottom: -20px;
      text-align:right;
      margin-left: -1em;
    }
    
    .CIGHeader3-Blue{
      color:#0033FF;
    }
    

    .CIGButton{
      background-color: #0033FF;
      font-size: 4.2vw;
      float:right;
      width:62%;
      text-align: center;
      letter-spacing: 1px;
      color: white;
      border-radius: 50px;
      padding-top: 10px;
      padding-bottom: 25px;
      font-family:madera;
      font-weight: bolder;
      margin-right: 2px;
      transform: scale(0.3);
    }
    
    .Online-Training-Block{
      margin-top : 14em;
      margin-left: 4em;
      display:flex;
      flex-direction:column;
    }
    
    .OTHeader1 {
      margin-bottom: 8px;
      font-size: 1.2vw;
      flex: auto;
      font:gogh; 
      color: #958A8A;
      white-space:nowrap;
    }
    
    .OTHeader2{
      font-size: 3.6vw;
      flex:auto;
      font-family: gogh;
      line-height: 35px;
      margin-bottom: -8px;
    }
    
    .OTHeader3{
      font: gogh;
      color: #958A8A;
      font-size: 1.2vw;
      font-weight: normal;
      flex:auto;
      line-height: 20px;
      letter-spacing: 1px;
      margin-top: 1.4em;
      margin-bottom: 10px;
      width: 36%;
    }
    
    .OTButton{
      background-color: #0033FF;
      font-size: 1.2vw;
      width: 20%;
      letter-spacing: 1px;
      color: white;
      border-radius: 50px;
      border: none;
      padding-top: 4px;
      padding-bottom: 8px;
      font-family:madera;
      font-weight: bolder;
      text-align: center;
    }

    .Globe-Image{
      background-image:url('Images/globe.png');
      background-repeat: no-repeat;
      background-size: 64vw;
      background-position: right top;
      padding: 23em 14em;
      margin-top: -4.3em;
      margin-left: 17.4em;
      position: relative;
      z-index:1;
    }
    
    .Extra-Background{
      background-image:url('Images/Extra-Background.png');
      background-repeat: no-repeat;
      background-size:100% 100%;
      background-position:center;
      flex:auto;
      height: 1050px;
      width: 100%;
      margin-top: -42em;
      margin-left: 0em;
      position: relative;
      z-index:-1;
    }
   
    .Career-Block{
      margin-left: 2.6em;
      margin-top:0em;
      padding-top: 7.5em;
      display:flex;
      flex-direction:column;  
    }
    
    .CHeader1{
      color: white;
      max-width: 28%;
      font-size: 3.6vw;
      font-family: gogh;
      line-height: 1.3em;
      margin-bottom: -4px;
    }
    
    
    .CHeader2{
      font: gogh;
      color: #958A8A;
      font-size: 1.3vw;
      font-weight: normal;
      width: 28%;
      line-height: 1.8;
      margin-top: 1.4em;
      margin-bottom: 22px;
    }
    
    .CHeader1-Red{
      color: #fc4848;
    }
    
    .CButton{
      background-color: #fc4848;
      font-size: 1.2vw;
      letter-spacing: 1px;
      color: white;
      border-radius: 50px;
      border: none;
      padding-top: 4px;
      padding-bottom: 8px;
      padding-left: 1px;
      padding-right: 1px;
      font-family:madera;
      width: 20%;
      font-weight: bolder;
      text-align: center;
      margin-bottom: 200px;
    }

    .CommentBlock1{
      margin-right: 18.2em;
      margin-top: -62em;
      padding-top: 0.6em;
      padding-bottom: 1em;
      padding-left: 0.7em;
      width: 15.5%;
      border-radius: 6px;
      float: right;
      position:relative;
      background-color: #202020;
      display: flex;
      flex-direction: column;
      z-index:2;
    }
    
    .CommentBlock2{
      margin-right: 6.8em;
      margin-top: -62em; 
      padding-top: 0.6em;
      padding-bottom: 1em;
      padding-left: 0.7em;
      border-radius: 6px;
      width: 15.5%;
      position:relative;
      float: right;
      background-color: #202020;
      display: flex;
      flex-direction: column;
      z-index:2;
    }
    
    .CommentBlock3{
      margin-right: 15.8em; 
      padding-top: 0.6em;
      padding-bottom: 1em;
      padding-left: 0.7em;
      border-radius: 6px;
      width: 15.5%;
      position:relative;
      float:right;
      background-color: #202020;
      display: flex;
      flex-direction: column;
      z-index:2;
      margin-top: -53.5em;
      margin-left: 23.5em;
    }
    
    .CommentBlock4{
      margin-right: 4.2em;
      padding-top: 0.6em;
      padding-bottom: 1em;
      padding-left: 0.7em;
      border-radius: 6px;
      width: 15.5%;
      position:relative;
      background-color: #202020;
      float:right;
      display: flex;
      flex-direction: column;
      z-index:2;
      margin-left: 35.6em;
      margin-top: -53.5em;
    }

    .Lorem2{
      margin-top: -14px;
    }

    .Lorem3 {
      margin-top: -14px;
    }

    .Lorem4{
      margin-top:-14px;
    } 

    .CommentBlock1 > p , .CommentBlock2 > p, .CommentBlock3 > p, .CommentBlock4 > p{
      color: white;
      font-size: 1.2vw;
      height: 0px;
      font-family: gogh;
      width: 40%;
      margin-bottom: 30px;
      letter-spacing: 1;
      white-space: nowrap;
    } 
    
    .ProfilePicture1{
      position: relative;
      background-image: url('Images/ProfilePicture1.png');
      background-size: 17% ;
      padding: 20px;
      margin-top: -0.8em;
      margin-left: 0em;
      background-repeat: no-repeat;
    }
    
    .ProfilePicture2{
      background-image: url('Images/ProfilePicture2.png');
      background-size: 17%;
      padding: 20px;
      margin-top: -0.8em;
      margin-left: 0em;
      background-repeat: no-repeat;
    }
    
    .ProfilePicture3{
      background-image: url('Images/ProfilePicture3.png');
      background-size: 17%;
      padding: 20px;
      margin-top: -0.8em;
      margin-left: 0em;
      background-repeat: no-repeat; 
    }
    
    .ProfilePicture4{
      background-image: url('Images/ProfilePicture4.png');
      background-size: 17%;
      padding: 20px;
      margin-top: -0.8em;
      margin-left:0pem;
      background-repeat: no-repeat;
    }
    
    .CommentName{
      color: white;
      margin-top: -5.4em;
      margin-left: 4.2em;
      font-size: 0.45em;
      padding-top: 3px;
      width: 10%;
      white-space: nowrap;
    }
    
    .CommentJob{
      color: white;
      margin-top:0em;
      margin-left: 4.2em;
      font-size: 0.45em;
      font-weight:normal;
      white-space: nowrap;
    }

    .Capture-Interest-Title{
      color:white;
      font-family:gogh;
      font-size:1.2em;
      margin-top: -18em;
      margin-bottom: 3em;
      text-align:center;
      letter-spacing: 1px;
      white-space:nowrap;
      z-index:2;
      position:relative;
    }
    
    .SpecialBlock{
      display:flex;
      flex-direction: row;
      flex:auto;
      justify-content: center;
      margin-top: 12px;
    }

    .Audio-Block{
      display:flex;
      flex-direction:column; 
      margin-left: 0em;
      margin-top: -1.78em
    }
    
    .Audio-Image{ 
      position:relative;
      background-image: url('Images/Volume Up.png');
      background-size: 3.8vw;
      background-position: center;
      padding: 31px;
      margin-left: -7em;
      padding-bottom: 0.48em;
      background-repeat: no-repeat;
      z-index: 2;
    }
    
    .Confidential-Block{
      display:flex;
      flex-direction:column;
      margin-left: 2em;
      margin-top: -1.7em;
    }
    
    .Confidential-Image{
      position:relative;
      background-image: url('Images/Unlock.png');
      background-size: 4vw;
      padding: 29px;
      padding-bottom: 0.55em;
      background-repeat: no-repeat;
      z-index: 2;
    }

    .Confidential-Block .FeaturesHeader1 {
      padding-left: 2.55em;
    } 
    
    .Certification-Block{
      display:flex;
      flex-direction:column;
      margin-left: 2em;
      margin-top: -1.7em; 
    }
    
    .Certification-Image{
      position:relative;
      background-image: url('Images/Download.png');
      background-size: 4vw;
      padding: 29px;
      padding-bottom: 0.5em;
      background-repeat: no-repeat;
      z-index: 2;
    }

    .Certification-Block .FeaturesHeader1 {
      padding-left: 2.9em;
    } 
    
    .Interactive-Training-Block{
      display:flex;
      flex-direction:column; 
      margin-left: 2em;
      margin-top: -1.7em;
    }
    
    .Interactive-Training-Image{
      position:relative;
      background-image: url('Images/Play.png');
      background-size: 4vw;
      padding: 29px;
      padding-bottom: 0.5em;
      background-repeat: no-repeat;
      z-index: 2;
    }
  
    .Interactive-Training-Block .FeaturesHeader1{
      padding-left: 2.5em;
    }

    .FeaturesHeader1{
      color: white;
      float:right;
      font-size: 1.6vw;
      margin-top: 0.8em;
      margin-left: -2.9em;
      width: 80%;
      flex: auto;
      white-space: nowrap;
      text-align: right;
    }

    .Certification-Block .FeaturesHeader2 {
      
    }
    
    .FeaturesHeader2{
      color: #958A8A;
      width: 80%;
      font-size: 1.2vw;
      text-align: right;
      font-weight:normal;
      letter-spacing: 1px;
      margin-top: 1em;
      white-space: nowrap;
    }

    .FeaturesHeader3{
      color: #958A8A;
      width: 80%;
      font-size: 1.2vw;
      text-align: right;
      font-weight:normal;
      letter-spacing: 1px;
      margin-top: 1em;
      white-space: nowrap;
    }
    
    .Info-Banner{
      background-image: url('Images/rainbow_rectangle.png');
      background-size: 100%;
      background-position: center; 
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right:auto;
      flex: auto;
      margin-top: 3.3em;
      padding: 40px;
      width: 75%;
      position:relative;
    }
    
    .BannerHeader{
      color:white;
      font-family:gogh;
      font-size: 2.4vw;
      width:54%;
      padding-top:2.6em;
      margin-top: -3em;
      text-align: center;
      line-height: 25px;
      margin-left: 8.3em;
    }
    
    .BannerButton{
      margin-left: 24.6em;
      margin-top: 1.5em;
      font-size: 1.3vw;
      letter-spacing: 1px;
      color: white;
      border-radius: 50px;
      border: none;
      padding-top: 4px;
      padding-bottom: 8px;
      padding-left: 1px;
      padding-right: 1px;
      font-family:madera;
      width: 25%;
      font-weight: bolder;
      text-align: center;
      border: 1px solid white;
    }

    .Footer-Special-Block{
      display: flex;
    }

    .GSP-Trademark{
      display:flex;
      flex-direction:column;
      flex:auto;
      margin-top: -2.4em;
      margin-left: 4.3em;
    }
  
    .GSP-Training-Logo{
      background-image: url('Images/gspt_logo.png');
      background-size: 10em;
      width:100%;
      background-position:center;
      background-repeat: no-repeat;
      padding: 30px 110px;
      position: relative;
      margin-top: 5.4em;
      margin-left: -22em;

    }

    .Bottom-Nav {
      display: flex; 
      flex-direction: column;
      margin-top: -8.9em;
      margin-left: 0em;
      margin-right: 0em;
      margin-top: -2em;
      width: 25px;  
    }
    
    .Trademark-Text{
      margin-top: -0em;
      margin-left:-23.2em;
      padding-right: 29em;
      text-align: right;
      font-size: 0.5em;
      width: 50%;
      color:#958A8A;
      white-space:nowrap;
    }
    
    .Bottom-Bar-Items1{
      margin-left: -30em;
      margin-right: 0em;
      padding-left: 0em;
      margin-top: 6em;
      letter-spacing: 1px;
      white-space:nowrap;
      
    }
    
    .Bottom-Navigation-Bar-Items1 {
      display: flex;
      flex:auto;
      position: relative;
      white-space: nowrap;
      font-weight: 500;
      margin: 0em;
      margin-left: 0px;
      margin-top: 0px;
      color: #0C0C0C;
      list-style-type: none;
      font-size: 1.5vw;
      font-weight: bold;
      font-family: gogh;
      letter-spacing: 1px;
    }
    
    .Bottom-Bar-Items2{
      margin-left: -31.8em;
      margin-right: 25em;
      margin-top: -2em;
      letter-spacing: 1px;
      white-space:nowrap;
      padding-right: 14em;
      
    }
    
    .Bottom-Navigation-Bar-Items2 { 
      display: flex;
      flex: auto;
      position: relative;
      white-space: nowrap;
      font-weight: 500;
      margin-left: 30px;
      color: #0C0C0C;
      list-style-type: none;
      font-size: 1.5vw;
      font-weight: bold;
      font-family: gogh;
      letter-spacing: 1px;
      padding-top: 60px;
    }
    
    .Item-Stiri{
      padding-left: 25px;
    }

    .Item-Contact{
      padding-left: 54px;
      padding-right: 27px;
    }

    
    .Facebook-Logo {
      background-image: url('Images/Facebook_Icon.png'); 
      background-size: 2.5vw;
      padding: 12px;
      padding-right: 15px;
      position:relative;
      background-repeat: no-repeat;
    }
    
    .Twitter-Logo {
      background-image: url('Images/Twitter_Icon.png');
      background-size: 2.5vw; 
      padding: 12px;
      padding-right: 15px;
      margin-left: 0.5em;
      position: relative;
      background-repeat: no-repeat;
    }
    
    .Instagram-Logo {
      background-image: url('Images/Instagram_Icon.png'); 
      background-size: 2.5vw;
      padding: 12px;
      padding-right: 17px;
      position: relative;
      margin-left: 0.5em;
      background-repeat: no-repeat;
    }
    
    .Youtube-Logo{
      background-image: url('Images/Youtube_Icon.png');
      background-size: 2.5vw;
      padding: 12px 14px;
      position: relative;
      background-repeat: no-repeat;
      margin-left: 0.5em;
      margin-top: 0.25em;
    }
  
  
  .Footer-Items{ 
      position:relative;
      display: flex;
      flex-direction: row;
      flex: auto;
      justify-content: center;
      font-size: 1.2vw;
      list-style-type: none;
      white-space: nowrap;
      margin-top: 2em;
      margin-bottom: 2em;
  }
  
  .Footer-Items > li{
     font-weight: 500;
      margin: 0.5em;
      color:#958A8A;
  }
  
  .Horizontal-Bar {
    border-top: 1px solid #958A8A;
    background-position:center;
    position:relative;
    width: auto;
    margin-top: 4em;
  }

  .Item-Bottom{
    padding-right: 38px;
  }

}
